<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- css -->
    <link rel="stylesheet" href="css/style.css">

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- vuejs -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>

<body>

    <div id="app">
        <div class="wrapper">

            <!-- container  -->
            <div class="container">
                <div class="row">

                    <!-- small column  -->
                    <div class="small-col">

                        <!-- row personal  -->
                        <div class="row-personal">
                            <div class="personal-photo">
                                <img src="img/avatar_io.jpg" alt="my photo">
                            </div>
                            <div class="menu-icons">
                                <i class="fa-solid fa-circle-notch"></i>

                                <i class="fa-solid fa-message"></i>

                                <i class="fa-solid fa-ellipsis-vertical"></i>

                            </div>
                        </div>

                        <!-- row notifications  -->
                        <div class="row-notifications">
                            <div class="active-notific-img">
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>
                            <div class="active-notifics">
                                <h4>Ricevi notifiche di nuovi messaggi</h4>
                                <a href=""> Attiva notifiche desktop adesso </a>
                            </div>
                        </div>

                        <!-- row input  -->
                        <div class="row-input">
                            <input type="text" name="nuova chat" placeholder="    Cerca o inizia una nuova chat">
                        </div>

                        <!-- CONTACTS  -->

                        <div class="col-friends">
                            <div v-for="(contact, index) in contacts" class="row-friends" @click="indexItem = index">
                                <div class="photo-profile">
                                    <img :src="`img/avatar${contact.avatar}.jpg`" alt="avatar 1">
                                </div>
                                <div class="info">
                                    <h4>{{ contact.name }}</h4>
                                    <p>Lorem, ipsum dolor sit amet</p>
                                </div>
                                <div class="access">12:00</div>
                            </div>

                            

                        </div>
                    </div>

                    <!-- large column  -->
                    <div class="large-col">

                        <!-- header column  -->
                        <header>
                            <div class="row-header-col-large">
                                <div class="card-photo">
                                    <img :src="`img/avatar${contacts[indexItem].avatar}.jpg`" alt="">
                                </div>
                                <div class="card-informations">
                                    <h4>{{ contacts[indexItem].name }}</h4>
                                    <p>Ultimo accesso oggi alle 16:26</p>
                                </div>
                                <div class="card-icons">
                                    <i class="fa-solid fa-magnifying-glass"></i>

                                    <i class="fa-solid fa-paperclip"></i>

                                    <i class="fa-solid fa-ellipsis-vertical"></i>

                                </div>
                            </div>
                        </header>

                        <!-- main column  -->
                        <main>
                            <div class="row-message">
                                
                                <!-- CONVERSATION  -->
                                <div class="message sent" v-for="(text, index) in contacts[indexItem].messages" :key="index">

                                    <!-- list angle down -->
                                    <ul class="angle-list">
                                        <li>
                                            <i class="fa-solid fa-angle-down" tabindex="0"></i>

                                            <!-- lista annidata -->
                                            <ul class="sub-menu">
                                                <li class="info-message">Info messaggio</li>
                                                <li class="cancel-message">Cancella messaggio</li>
                                            </ul>
                                        </li>
                                    </ul>

                                    <div>
                                        {{ text.message }}
                                    </div>
                                    <div class="hour">
                                        16:00
                                    </div>

                                </div>

                                <div class="message received">
                                    <!-- list angle down -->
                                    <ul class="angle-list">
                                        <li>
                                            <i class="fa-solid fa-angle-down" tabindex="0"></i>

                                            <!-- lista annidata -->
                                            <ul class="sub-menu">
                                                <li class="info-message">Info messaggio</li>
                                                <li class="cancel-message">Cancella messaggio</li>
                                            </ul>
                                        </li>
                                    </ul>

                                    

                                    <div class="hour">
                                        16:00
                                    </div>
                                </div>
                            </div>
                        </main>

                        <!-- footer column  -->
                        <footer>
                            <div class="row-footer">
                                <div class="smile-icon">
                                    <i class="fa-regular fa-face-smile"></i>
                                </div>
                                <div class="input-footer">
                                    <input type="" name="nuovo messaggio" placeholder="   Scrivi un messaggio">
                                </div>
                                <div class="microphone-icone">
                                    <i class="fa-solid fa-microphone"></i>
                                </div>
                            </div>

                        </footer>
                    </div>
                </div>
            </div>
        </div>

        <!-- js -->
        <script src="data.js"></script>
</body>

</html>